NEXT_PUBLIC_SUPABASE_URL= https://supabase.com/dashboard/project/oorxjgzhscczvflvjwlk
NEXT_PUBLIC_SUPABASE_ANON_KEY= sb_publishable_hbExIfPqqKOF_SXPSNl8Mw_PGYq5yx7
NEXT_PUBLIC_API_BASE_URL=http://localhost:8787
NEXT_PUBLIC_REVENUECAT_API_KEY=test_luADZmVbUPiGHBoUPqsPtUbGEEW
